# Dependencias
node_modules/
package-lock.json

# Configuraciones de Editor e IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos pesados originales / no utilizados en runtime
video/
frames.json

# Archivos de Sistema Operativo
.DS_Store
Thumbs.db
desktop.ini

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
